<!doctype html>
<html ng-app="xo">
  <head>
    <title>X's & O's</title>
     <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Orbitron:400,500,700,900' rel='stylesheet' type='text/css'>
    <link href="style.css" rel="stylesheet" type="text/css"/>
  </head>
  <body ng-controller="GameCtrl" ng-init="init()">
    
    <div id="overlay" overlay visible="game.over" style="display: none">
      <div id="overlay-content">
        <h1>{{overlay.message}}</h1>
        <button type="button" 
                class="button button-default"
                ng-click="reset()">
          <i class="fa fa-reply"></i>&nbsp;
          Play Again
        </button>
      </div>
    </div>
    
    <div id="content-wrapper" fade-in style="display: none">  
      <h1>X's <i class="fa fa-diamond fa-lg"></i> O's</h1>
      <small>AngularJS</small>
      <hr />
      <h3 ng-if="!game.over"><i class="fa fa-user fa-lg"></i>&nbsp;{{game.activePlayer}}'s Turn</h3>
      <h3 ng-if="game.over">Game Over</h3>
      
      <div ng-repeat="row in game.blocks">
        <div ng-repeat="block in row"
        ng-class="{'winning': block.winner === true, 'player_one': block.p === 1, 'player_two': block.p === 2}"
        class="block" 
        ng-click="takeBlock(block)"
        ng-bind="block.txt"></div>
      </div>
    </div>
    
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
    <script src="app.js" type="text/javascript;version=1.7"></script>
    
  </body>
</html>
