body {
  background: #000000;
  color: #ffffff;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Orbitron', sans-serif;
}

.block{
  display: inline-block;
  background: rgba(0, 255, 19, 0.07);
  border-width: 0px;
  height: 120px;
  width: 120px;
  margin-left: 5px;
  margin-bottom: 5px;
  vertical-align: top;
  line-height: 120px;
  cursor: pointer;
  font-size: 60px;
  -webkit-transition: background 1s;
  transition: background 1s;
}

.block:hover {
 background: rgb(0, 255, 191);
}

.player_one {
  background: #00d8ff;
}

.player_two {
  background: #00a1ff;
}

#content-wrapper {
  text-align: center;
  padding: 20px;
}

#turn_indicator {
  margin-bottom: 15px;
}

#overlay {
  color: #fff;
  text-align: center;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  -webkit-transition: display 1s;
  transition: display 1s;
}

#overlay-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.4);
  padding: 30px;
}

.button {
  cursor: pointer;
  padding: 10px;
  line-height: 1.428;
  border-radius: 4px;
  border: none;
  font-size: 14px;
}

.button-default {
  background: #72e9ff;
}

.winning {
  background: #b600ff;
  color: #fff;
}